* {
  box-sizing: border-box;
}

.container {
  max-width: 800px;
  margin: 20px auto;
}

.flexitem {
  display: flex;
  justify-content: center;
  align-items: center;

}

.user {
  width: 80px;
  height: 80px;
  background-color: rgb(233, 233, 233);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  border-radius: 5px;
  font-size: 3rem;

}

.about {
  width: 650px;
  height: 100px;
  background-color: rgb(233, 233, 233);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  position: relative;
  margin-left: 25px;
  font-size: 1.1rem;
  text-align: justify;
}

.about::after {
  content: '';
  width: 5px;
  height: 97%;
  background-color: #709fb6;
  position: absolute;
  right: -8px;
  border-radius: 5px;
}

.about::before {
  content: '';
  width: 1px;
  height: 1px;
  background-color: transparent;
  position: absolute;
  left: -20px;
  border-style: solid;
  border-width: 10px;
  border-color: transparent #709fb6 transparent transparent;
  left: -25px;
  top: 50%;
  margin-top: -10px;
}